.typing-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(151, 150, 150);
  font-size: 2.8em;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  border-right: 0.2em solid;
  white-space: nowrap;
  width: 28ch; /* adjust based on the length of your text and font size */
  animation: typing 4s steps(20, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 28ch;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(151, 150, 150);
  }
}
